html {
    background: url(images/landingBackground.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    margin: 0%;
}

.container {
    background-position-y: top;
}

.nav {
    display: flex;
    flex-direction: row-reverse;
    height: 140px;
}

.navbutton {
    width: 15%;
    height: 75px;
    background-color: transparent;
    text-align: center;
    font-family: 'Karma';
    font-style: normal;
    font-weight: 700;
    font-size: 19.1674px;
    line-height: 140px;
    text-decoration: none;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.navHomeButton {
    /* margin-left: 700px; */
}

.navbutton:hover {
    cursor: pointer;
    font-size: 22px;
    box-shadow: 5px;
}

.landingHeader {
    height: 600px;
    text-align: center;
}

.navLogo {
    position: absolute;
    width: 45px;
    margin-right: 14%;
    height: 58.78px;
    left: 52px;
    top: 44px;
    transition: 0.5s;
}

.navLogo:hover {
    position: absolute;
    width: 55px;
    height: 69.78px;
    left: 48px;
    top: 40px;
}

.headerButtonText {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 22.7071px;
    line-height: 97%;
    /* identical to box height, or 22px */
    text-align: center;
    margin: auto;
    color: #FFFFFF;
    text-shadow: 0px 0px 3.68px rgba(202, 5, 255, 0.91), 0px 4px 4px rgba(0, 0, 0, 0.26);
}

.headerButton {
    width: 211.84px;
    height: 70.61px;
    text-align: center;
    margin: auto;
    background-image: linear-gradient(to right, #FF34A2 16.26%, #FFE1A7 89.31%);
    border-radius: 226.966px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
}

.headerButton:hover {
    cursor: pointer;
    width: 211.84px;
    height: 70.61px;
    /* background: linear-gradient(128.11deg, #FF34A2 16.26%, #FFE1A7 89.31%); */
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.header1style {
    font-family: 'Karma';
    font-style: normal;
    font-weight: 400;
    font-size: 32.1366px;
    line-height: 120%;
    text-align: center;
    color: #FF9A7D;
    text-shadow: 0px 0px 3.68232px #8200FF;
}

.header2style {
    font-family: 'Inter', Sans-Serif;
    font-style: normal;
    font-weight: 800;
    font-size: 73.6464px;
    margin: 0px;
    line-height: 97%;
    /* or 71px */
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 0px 3.68232px #8200FF;

}

.header3style {
    font-family: 'Karma';
    font-style: normal;
    font-weight: 700;
    font-size: 32.1366px;
    line-height: 120%;
    /* identical to box height, or 39px */
    text-align: center;
    color: #FF9A7D;
    text-shadow: 0px 0px 3.68232px #8200FF;
}

.landingInfo {
    height: 700px;
    text-align: center;
}

.info1 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40.1419px;
    line-height: 120%;
    /* or 48px */

    text-align: center;

    color: #FFFFFF;
}

.info2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25.0887px;
    line-height: 30px;
    text-align: center;

    color: #E5D5FF;

    text-shadow: 0px 0px 4.30357px #8200FF;
}

.blob {
    width: 1037px;
    height: 266.78px;
    margin: auto;
    margin-top: 70px;

    background: linear-gradient(143.28deg, #FF9FC5, #BF1FD9 95.79%);
    background-blend-mode: screen;
    border-radius: 76.1024px;
    display: flex;
    flex-direction: row;
}

.blobL {
    width: 30%;
}

.blobM {
    width: 30%;
}

.blobR {
    width: 40%;
}

.blobNumber {
    margin: auto;
    padding-top: 60px;
    font-family: 'Karma';
    font-style: normal;
    font-weight: 700;
    font-size: 95.715px;
    /* identical to box height */
    text-shadow: 0px 0px 4.57767px #8200FF;
    color: rgb(248, 218, 94);

}

.blobText {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16.6461px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 0px 4.57767px #8200FF;
}

.vertical-row {
    margin-top: 40px;
    height: 180px;
    width: 2px;
    /* edit this if you want */
    background-color: white;
}

.apply {
    height: 500px;
    background: rgba(146, 26, 208, 0.8);
    backdrop-filter: blur(27.5037px);
    margin-bottom: 100px;
}

.applyHeader {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 42.1133px;
    line-height: 51px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 0px 7.57876px #8200FF;
    margin: auto;
    padding-top: 60px;
}

.qrBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    width: 824.72px;
    height: 249.33px;
    border: 5.3097px dashed #FFE15A;
}

.qrCode {
    width: 212.35px;
    height: 194.79px;
    margin-left: 20px;
    margin-right: 20px;
}

.qrText1 {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 89.8565px;
    /* identical to box height, or 88px */
    background: linear-gradient(#FF9FC5, #FF4EE6);
    background: linear-gradient(0deg, rgba(255, 0, 0, 0.2), rgba(255, 0, 0, 0.2)), linear-gradient(91.49deg, #FF9FC5 0.28%, #FF4EE6 62.74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-blend-mode: overlay, screen;
    /* text-shadow: 0px 0px 14.7038px rgba(0, 0, 0, 0.4); */
    margin: auto;
    margin-top: 5px;
}

.qrText2 {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20.4641px;
    line-height: 27px;
    color: #FFFFFF;
    text-shadow: 0px 0px 4.49283px #8200FF;
    margin-top: 0px;
}

.qrText3 {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18.9333px;
    background: linear-gradient(0deg, rgba(255, 0, 0, 0.2), rgba(255, 0, 0, 0.2)), linear-gradient(91.49deg, #FF9FC5 0.28%, #FF4EE6 62.74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-blend-mode: lighten;
    /* text-shadow: 0px 0px 4.79721px #8200FF; */
}

.learnMore {
    padding-top: 50px;
    height: 800px;
    text-align: center;
}

.learnMoreText {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 27.2543px;
    color: #FFFFFF;
    text-shadow: 0px 0px 7.59439px #8200FF;
    /* text-align: left; */
}

.learnMoreButtonsGrid {
    display: flex;
    flex-direction: column;
}

.learnMoreButtonsRow {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.learnMoreButtonsColumn {
    display: flex;
    flex-direction: column;
}

.learnMoreButton {
    width: 226.35px;
    height: 226.35px;
    background: linear-gradient(143.28deg, #ED9CC8 5.39%, #ED22C7 60%);
    border-radius: 26.6077px;
    transition: 0.5s;
    background-size: 200% auto;
    margin: 20px;
}

.learnMoreButton:hover {
    background-position: right center;
    cursor: pointer;
}

.learnMoreButtonText {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 23.6299px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 3.46807px 3.46807px rgba(0, 0, 0, 0.25), 0px 0px 3.46807px #8200FF;
}

.footer {
    display: flex;
    flex-direction: row;
    height: 100px;
    margin: auto;
    background-color: #333333;
    color: white;
    margin-top: 50px; 
}

.footerText {
    text-align: left;
    margin: 25px;
}

.footerLogoImage {
    position: absolute;
    height: 60px;
    transition: 0.5s;
}

.footerLogo {
    margin: 15px;
    margin-left: 430px;
}

.footerTextBox {
    display: flex;
    flex-direction: row;
    height: 100px;
    margin: auto;
    margin-left: 140px;
}

.horizontalLine {
    margin: auto;
    margin-top: 40px;
    height: 2px;
    width: 580px;
    /* edit this if you want */
    background-color: #FF9A7D;
}

.speakersHeader {
    width: 100%;
    height: 400px;
    background: linear-gradient(272.79deg, rgba(136,65,227, 1) 6.39%, rgba(36, 0, 101, 0.2) 99.69%);
    background-blend-mode: screen;
    text-align: center;
    margin-top: 50px;
}

.speakerBox {
    text-align: center;
    width: 350px;
    height: 350px;
    margin: auto;
    margin-bottom: 180px;
}

.speakerImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 26px;
    border: 0.5px solid #3604C2;
    box-sizing: border-box;
    filter: drop-shadow(20px 20px 4px rgba(46,45,67, 0.5));
}

.speakerName {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 97%;
    color: white;
}

.speakerCompany {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 97%;
    color: white;
}

.speakersRow {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 85%;
}

.keynoteSpeakers {
    margin: auto;
}

.featuredSpeakersRow {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 85%;
}

.featuredSpeakers {
    margin: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-gap: 10px;
    margin-left: 15%;
  }

.parallax {
    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}