body {
    margin: 0%;
}

.nav {
    display: flex;
    flex-direction: row-reverse;
    height: 140px;
}

.navbutton {
    width: 12%;
    height: 75px;
    background-color: transparent;
    text-align: center;
    font-family: 'Karma';
    font-style: normal;
    font-weight: 700;
    font-size: 19.1674px;
    line-height: 140px;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.navbutton:hover {
    cursor: pointer;
    font-size: 22px;
    box-shadow: 5px;
}

.landingHeader {
    height: 600px;
    text-align: center;
}

.navLogo {
    position: absolute;
    width: 45px;
    height: 58.78px;
    left: 52px;
    top: 44px;
    transition: 0.5s;
}

.navLogo:hover {
    position: absolute;
    width: 55px;
    height: 69.78px;
    left: 48px;
    top: 40px;
}

.headerButtonText {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 22.7071px;
    line-height: 97%;
    /* identical to box height, or 22px */
    text-align: center;
    margin: auto;
    color: #FFFFFF;
    text-shadow: 0px 0px 3.68px rgba(202, 5, 255, 0.91), 0px 4px 4px rgba(0, 0, 0, 0.26);
}

.headerButton {
    width: 211.84px;
    height: 70.61px;
    text-align: center;
    margin: auto;
    background-image: linear-gradient(to right, #FF34A2 16.26%, #FFE1A7 89.31%);
    border-radius: 226.966px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
}

.headerButton:hover {
    cursor: pointer;
    width: 211.84px;
    height: 70.61px;
    /* background: linear-gradient(128.11deg, #FF34A2 16.26%, #FFE1A7 89.31%); */
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.header1style {
    font-family: 'Karma';
    font-style: normal;
    font-weight: 400;
    font-size: 32.1366px;
    line-height: 120%;
    text-align: center;
    color: #FF9A7D;
    text-shadow: 0px 0px 3.68232px #8200FF;
}

.header2style {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 73.6464px;
    margin: 0px;
    line-height: 97%;
    /* or 71px */
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 0px 3.68232px #8200FF;

}

.header3style {
    font-family: 'Karma';
    font-style: normal;
    font-weight: 700;
    font-size: 32.1366px;
    line-height: 120%;
    /* identical to box height, or 39px */
    text-align: center;
    color: #FF9A7D;
    text-shadow: 0px 0px 3.68232px #8200FF;
}

.landingInfo {
    height: 700px;
    text-align: center;
}

.info1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 40.1419px;
    line-height: 120%;
    /* or 48px */

    text-align: center;

    color: #FFFFFF;
}

.info2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 25.0887px;
    line-height: 30px;
    text-align: center;

    color: #E5D5FF;

    text-shadow: 0px 0px 4.30357px #8200FF;
}

.blob {
    width: 1037px;
    height: 266.78px;
    margin: auto;
    margin-top: 70px;

    background: linear-gradient(143.28deg, #FFA800 15.39%, #FF1C96 95.79%);
    background-blend-mode: screen;
    border-radius: 76.1024px;
    display: flex;
    flex-direction: row;
}

.blobL {
    width: 30%;
}

.blobM {
    width: 30%;
}

.blobR {
    width: 40%;
}

.blobNumber {
    margin: auto;
    padding-top: 60px;
    font-family: 'Karma';
    font-style: normal;
    font-weight: 700;
    font-size: 95.715px;
    /* identical to box height */
    text-shadow: 0px 0px 4.57767px #8200FF;
    color: rgb(248, 218, 94);

}

.blobText {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16.6461px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 0px 4.57767px #8200FF;
}

.vertical-row {
    margin-top: 40px;
    height: 180px;
    width: 2px;
    /* edit this if you want */
    background-color: white;
}

.apply {
    height: 500px;
    background: rgba(146, 26, 208, 0.72);
    backdrop-filter: blur(27.5037px);
}

.applyHeader {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 42.1133px;
    line-height: 51px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 0px 7.57876px #8200FF;
    margin: auto;
    padding-top: 60px;
}

.qrBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    width: 824.72px;
    height: 249.33px;
    border: 5.3097px dashed #FFE15A;
}

.qrCode {
    width: 212.35px;
    height: 194.79px;
    margin-left: 20px;
    margin-right: 20px;
}

.qrText1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 89.8565px;
    /* identical to box height, or 88px */
    background: linear-gradient(0deg, rgba(255, 0, 0, 0.2), rgba(255, 0, 0, 0.2)), linear-gradient(91.49deg, #FFA900 0.28%, #FF5095 62.74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-blend-mode: overlay, screen;
    text-shadow: 0px 0px 14.7038px rgba(0, 0, 0, 0.4);
    margin: auto;
}

.qrText2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 22.4641px;
    line-height: 27px;
    color: #FFFFFF;
    text-shadow: 0px 0px 4.49283px #8200FF;
}

.qrText3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20.9333px;
    line-height: 25px;
    background: linear-gradient(143.28deg, #FFA800 15.39%, #FF1C96 95.79%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-blend-mode: lighten;
    text-shadow: 0px 0px 4.79721px #8200FF;
}

.learnMore {
    padding-top: 150px;
    height: 800px;
    text-align: center;
}

.learnMoreText {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 27.2543px;
    color: #FFFFFF;
    text-shadow: 0px 0px 7.59439px #8200FF;
    /* text-align: left; */
}

.learnMoreButtonsGrid {
    display: flex;
    flex-direction: column;
}

.learnMoreButtonsRow {
    display: flex;
    flex-direction: row;
}

.learnMoreButton {
    width: 226.35px;
    height: 226.35px;
    background: linear-gradient(to right, rgba(255, 168, 0, 0.91) 15.39%, rgba(255, 28, 150, 0.91) 95.79%);
    background-blend-mode: lighten;
    border-radius: 26.6077px;
    transition: 0.5s;
    background-size: 200% auto;
    margin: 20px;
}

.learnMoreButton:hover {
    background-position: right center;
    cursor: pointer;
}

.learnMoreButtonText {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 23.6299px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 3.46807px 3.46807px rgba(0, 0, 0, 0.25), 0px 0px 3.46807px #8200FF;
}